h2
  Users

ul
  for user in users
    li #{user.name.first} #{user.name.last} 
      a(href="/users/" + user._id) Details

form(action="/users",method="POST")
  label First Name:
  input(name="user[name_first]")
  br
  label Last Name:
  input(name="user[name_last]")
  br
  label Email Address:
  input(name="user[email]")
  br
  label Role:
  input(name="user[role]")
  br
  label Password:
  input(name="user[pass]")
  br
  input(type="submit",value="Create New User")